[Unit]
Description=Install preinstalled flatpaks
After=network-online.target flatpak-add-flathub.service
Wants=network-online.target
Requires=flatpak-add-flathub.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak preinstall -y --noninteractive --system

[Install]
WantedBy=multi-user.target
